.btn {
  border: none;
  font-size: 1.4rem;
  padding: 1.5rem 1.5rem;
  background-color: #274c4b;
  color: #fff;
  border-radius: 1rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

/* 2000px */
@media only screen and (min-width: 125em) {
  .btn {
    font-size: 2.2rem;
  }
}

.btn:hover {
  background-color: #365e5c;
}

.btn-dark {
  background-color: #242655;
}

.btn-dark:hover {
  background-color: #2b2b5c;
}
