.btn {
  border: none;
  padding: 1.5rem 1.5rem;
  background-color: #274c4b;
  color: #fff;
  border-radius: 1rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #365e5c;
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .btn {
    bottom: 2.5rem;
    right: 2.5rem;
  }
}

.error {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-top: 2rem;
}

.errorbtn {
  width: 30%;
  margin: 4rem auto 0;
  padding: 1rem 1.3rem;
  border: none;
  border-radius: 3px;
  background-color: #26864b;
  cursor: pointer;
}

.errorbtn:hover {
  background-color: #26864be5;
}
