.detail {
  position: fixed;
  top: 30vh;
  left: 15%;
  width: 70%;
  height: 40vh;
  background-color: #ffaf03af;
  border-radius: 1rem;
  z-index: 100;
  padding: 2rem;

  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.todos {
  padding: 1rem;
}

.type {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.icon {
  margin-right: 0.5rem;
}

.text {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.checked {
  text-decoration: line-through;
}
