.form {
  position: fixed;
  top: 5vh;
  left: 20%;
  width: 60%;
  height: 90vh;
  background-color: #fff;
  border-radius: 1rem;
  z-index: 100;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

.newproject {
  flex: 0 1 3rem;
  color: #f06102;
  font-size: 2.5rem;
  margin-bottom: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  padding: 1rem;
  position: relative;
}

.overview {
  margin-bottom: 3rem;
}

.title,
.date,
.status,
.duedate {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.date,
.status,
.duedate {
  width: 80%;
}

.label {
  flex: 0 1 12rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

/* .dateselect {
  border: none;
  color: #d3d3d3;
}

.dateselect:focus {
  outline: none;
} */

.input,
.iteminput {
  flex: 1;
  border: none;
  /* background-color: burlywood; */
}

.iteminput {
  background-color: #f4f2f2;
  position: relative;
}

.input:focus,
.iteminput:focus {
  outline: none;
}

.input:hover {
  cursor: pointer;
  background-color: #f4f2f2;
}

.input::placeholder {
  color: #cfcfcf;
}

.title .input {
  font-size: 2rem;
  padding: 0.8rem 1.1rem;
}

.date .input,
.status .input,
.duedate .input {
  font-size: 1.2rem;
  padding: 0.5rem 0.7rem;
}

.icon {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

.description {
  margin-bottom: 1.8rem;
}

.description > h2,
.todoform > h2 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.textarea {
  width: 100%;
  height: 8rem;
  border-color: #b8b8b8;
}

.textarea:focus {
  outline: none;
}

/* .todoform {
  margin-bottom: 1.8rem;
} */

/* .item {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iteminput {
  padding: 0.4rem 0.6rem;
} */

/* .itembtn {
  border: none;
  background-color: #f4f2f2;
  position: absolute;
  right: 1.3rem;
  cursor: pointer;
} */

/* .crossicon {
  transform: rotate(45deg);
} */

/* .todo {
  display: flex;
  align-items: center;
}

.todoinput {
  flex: 1;
  margin-right: 0.8rem;
  padding: 0.2rem 0.3rem;
  border: none;
  outline: 1px solid #e9e8e8;
}

.todoinput:focus {
  outline: 1px solid #b8b8b8;
}

.todobtn {
  flex: 0 1 5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #cfcfcf;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  transition: all 0.2s;

  display: flex;
  align-items: center;
}

.todobtn:hover {
  background-color: #f4f2f2;
  color: #101d2c91;
} */

.btn {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  border: none;
  padding: 1rem 1.5rem;
  background-color: #26864b;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
