.form {
  position: fixed;
  top: 5vh;
  left: 25%;
  width: 50%;
  height: 90vh;
  background-color: #fff;
  border-radius: 1rem;
  z-index: 100;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

/* 900px */
@media only screen and (max-width: 56.25em) {
  .form {
    top: 10vh;
    left: 20%;
    width: 60%;
    height: 80vh;
  }
}

/* 600px */
@media only screen and (max-width: 37.5em) {
  .form {
    top: 5vh;
    left: 10%;
    width: 80%;
    height: 90vh;
  }
}

/* 350px */
@media only screen and (max-width: 21.875em) {
  .form {
    top: 3vh;
    left: 5%;
    width: 90%;
    height: 94vh;
  }
}

.newproject {
  flex: 0 1 3rem;
  color: #1d49db;
  font-size: 2.5rem;
  margin-bottom: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .newproject {
    flex: 0 1 6rem;
  }
}

/* 350px */
@media only screen and (max-width: 21.875em) {
  .newproject {
    flex: 0 1 3rem;
  }
}

.content {
  flex: 1;
  padding: 1rem;
  position: relative;

  display: flex;
  flex-direction: column;
}

.overview {
  flex: 0 1 10%;
  margin-bottom: 1rem;
}

.title,
.date,
.status,
.duedate {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .date,
  .status,
  .duedate {
    margin-bottom: 1.5rem;
  }
}

/* 350px */
@media only screen and (max-width: 21.875em) {
  .date,
  .status,
  .duedate {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.5rem;
  }
}

.date,
.status,
.duedate {
  width: 80%;
}

/* 800px */
@media only screen and (max-width: 50em) {
  .date,
  .status,
  .duedate {
    width: 100%;
  }
}

.input {
  flex: 1;
  border: none;
  font-size: 2rem;
  padding: 0.8rem 1.1rem;
}

.input:focus,
.select:focus {
  outline: none;
}

.input:hover,
.select:hover {
  cursor: pointer;
  background-color: #f4f2f2;
}

.input::placeholder {
  color: #cfcfcf;
}

.label {
  flex: 0 1 12rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

/* 350px */
@media only screen and (max-width: 21.875em) {
  .label {
    flex: 0 1 3rem;
  }
}

.icon {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

.selectgroup {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.select {
  font-size: 1.2rem;
  padding: 0.5rem 0.7rem;
  border: none;
}

.select:not(:last-child) {
  margin-right: 1rem;
}

.description {
  flex: 0 1 15%;
  margin-bottom: 1.8rem;
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .description {
    margin-bottom: 2.5rem;
  }
}

.description > h2,
.todo > h2 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.textarea {
  width: 100%;
  height: 8rem;
  border-color: #b8b8b8;
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .textarea {
    height: 10rem;
  }
}

.textarea:focus {
  outline: none;
}

.btnform {
  flex: 0 1 3rem;
  align-self: flex-end;

  display: flex;
  align-items: flex-end;
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .btnform {
    bottom: 2.5rem;
    right: 2.5rem;
  }
}

.update {
  margin-right: 1.5rem;
  border: none;
  padding: 1rem 1.5rem;
  background-color: #f06102;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.deleteicon {
  border: none;
  background-color: transparent;
  color: #e52a5a;
  font-size: 2.5rem;
  cursor: pointer;
}
