.todolist {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.btn {
  flex: 0 1 2rem;
  margin-right: 0.7rem;
  font-size: 1.4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  transition: all 0.2s;
}

.icon:hover {
  color: red;
}

.checkbox {
  flex: 0 1 2rem;
  margin-right: 0.4rem;
}

.text {
  flex: 1;
  font-size: 1.3rem;
}
