.form {
  flex: 1;

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.form > h2 {
  flex: 0 1 2.6rem;

  font-size: 1.7rem;
  display: flex;
  align-items: flex-end;
}

/* 2000px */
@media only screen and (min-width: 125em) {
  .form > h2 {
    flex: 0 1 4rem;
    font-size: 2.5rem;
  }
}

.todo {
  flex: 0 1 3.5rem;

  display: flex;
  align-items: center;
}

/* 2000px */
@media only screen and (min-width: 125em) {
  .todo {
    flex: 0 1 5rem;
  }
}

.todo-input {
  flex: 1;
  margin-right: 0.8rem;
  padding: 0.5rem 0.7rem;
  font-size: 1.3rem;
  border: none;
  background-color: #f6f5f4;
}

/* 2000px */
@media only screen and (min-width: 125em) {
  .todo-input {
    font-size: 2.1rem;
  }
}

.todo-input-dark {
  background-color: #334148;
  color: inherit;
}

.todo-input:focus {
  outline: none;
}

.todo-input::placeholder {
  color: #d5c6b9;
}

.todo-input-dark::placeholder {
  color: #ccc;
}

.btn {
  flex: 0 1 5rem;
  border: none;
  font-size: 1.3rem;
  background-color: transparent;
  cursor: pointer;
  color: #cfcfcf;
  padding: 0.5rem 0.7rem;
  border-radius: 3px;

  transition: all 0.2s;

  display: flex;
  align-items: center;
}

/* 2000px */
@media only screen and (min-width: 125em) {
  .btn {
    font-size: 2.1rem;
  }
}

.btn-dark {
  color: #ccc;
}

.btn:hover {
  background-color: #f6f5f4;
  color: #d5c6b9;
}

.btn-dark:hover {
  background-color: #243036;
}

.lists {
  flex: 0 1 65%;

  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

