.content {
  margin-bottom: 0.3rem;
}

.project {
  background-color: #fff;
  border-radius: 3px;
  font-size: 1.3rem;
  padding: 0 2.2rem;

  display: flex;
  align-items: center;
}

.title {
  flex: 1;
  padding: 1.1rem 2.5rem 1.1rem 0;
  border-right: 0.2rem solid #f6f5f4;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-text {
  font-weight: 700;
}

.title-btn {
  border: none;
  font-size: 1.2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  color: transparent;
  transition: all 0.2s;
}

.project:hover .title-btn {
  color: #243242;
  background-color: #bebebe42;
}

.project:hover .title-btn:hover {
  background-color: #bebebe79;
}

.tasks {
  flex: 0 1 26%;
  padding: 1.1rem 0 1.1rem 0.9rem;
  border-right: 0.2rem solid #f6f5f4;
}

.date {
  flex: 0 1 26%;
  padding: 1.1rem 0 1.1rem 0.9rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-text {
}

.fire-icon {
  color: transparent;
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.visible {
  color: #e83a30;
}
