.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}

.icon {
  font-size: 2rem;
  animation: spin 0.8s infinite linear;
}

@keyframes spin {
  from {
    transform: none;
  }

  to {
    transform: rotate(360deg);
  }
}
