.project:not(:last-child) {
  margin-bottom: 0.7rem;
}

.project {
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  background-color: #d5c6b95b;
}

.project-dark {
  background-color: #0c0d144f;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

.message {
  font-size: 1.2rem;
  margin-left: 1rem;
}
