.content {
  margin-bottom: 1.3rem;
  padding: 0 0.8rem;
}

/* 600px */
@media only screen and (max-width: 37.5em) {
  .content {
    padding: 0;
  }
}

.status {
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.3rem;
}

.status > h2 {
  flex: 1;
  font-size: 1.9rem;
  color: #274c4b;
}

/* 2000px */
@media only screen and (min-width: 125em) {
  .status > h2 {
    font-size: 3rem;
  }
}

.status-dark > h2 {
  color: #5b8e86;
}

.projects {
  padding: 0.8rem;
  border-radius: 3px;
}

/* 2000px */
@media only screen and (min-width: 125em) {
  .projects {
    padding: 1.2rem;
  }
}
