.content {
  margin-bottom: 1.3rem;
  padding: 0 0.8rem;
}

.status {
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.3rem;
}

.status > h2 {
  flex: 1;
  font-size: 1.9rem;
  color: #274c4b;
}

.status-dark > h2 {
  color: #5b8e86;
}

.projects {
  padding: 0.8rem;
  border-radius: 3px;
}
