.timemanage {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.reference {
  margin-bottom: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.btnsort {
  border: none;
  background-color: #ffb003;
  font-size: 1.1rem;
  color: #fff;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  border-radius: 5px;
}

.nostatus,
.inprogress {
  background-color: #fff;
  width: 8rem;
  padding: 0.4rem 0.4rem 0.4rem 1rem;
  font-size: 1rem;
  position: relative;
}

.nostatus {
  margin-bottom: 0.5rem;
}

.nostatus::before,
.inprogress::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
}

.nostatus::before {
  background-color: #1d49db;
}

.inprogress::before {
  background-color: #26864b;
}

.example {
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 1.3rem;
  padding: 0.5rem 1.3rem;
  font-size: 1rem;

  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.title {
  flex: 0 1 40%;
}

.date {
  flex: 1;
}
