*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* 850px */
@media only screen and (max-width: 53.125em) {
  html {
    font-size: 55%;
  }
}

/* 600px */
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #f4f2f2;
  color: #101d2c;
  padding: 2rem;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
