*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* 850px */
@media only screen and (max-width: 53.125em) {
  html {
    font-size: 55%;
  }
}

/* 600px */
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #f1eeed;
  color: #0f2a29;
  /* height: 100vh;
  width: 100vw; */

  display: flex;
  justify-content: center;
  align-items: center;
}

/* COLORS */
/* #F1EEED */
/* #B6C9C9 */
/* #0F2A29 */
/* #274C4B */
/* #5E5E5D */
/* #45A3A4 */
/* #BD413E */

/* 2000px 125em */
/* 1200px 75em */
/* 800px 50em */
/* 450px 28.125em */

/*  */
/* 600px 37.5em */
/* 700px 43.75em */
/* 300px 18.75em */
