*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* 850px */
@media only screen and (max-width: 53.125em) {
  html {
    font-size: 55%;
  }
}

/* 600px */
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: #f6f5f4;
  color: #243242;
  /* height: 100vh;
  width: 100vw; */

  display: flex;
  justify-content: center;
  align-items: center;
}

/* COLORS */
/* #F6F5F4 */
/* #D5C6B9 */
/* #C3B8A6 */
/* #949686 */
/* #ADC8C8 */
/* #243242 */
/* #274c4b */
/* #DF4B14 */
/* #df5d2f */
/* sub */
/* #1725A4 */
/* #016D15 */
/* error color */
/* #FF2B1D */
/* sub */
/* #E83A30 */

/* 2000px 125em */
/* 1200px 75em */
/* 800px 50em */
/* 450px 28.125em */

/*  */
/* 600px 37.5em */
/* 700px 43.75em */
/* 300px 18.75em */
