*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* 800px */
@media only screen and (max-width: 50em) {
  html {
    font-size: 55%;
  }
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: #f6f5f4;
  color: #243242;
}

.main {
  background-color: #393e3a;
  color: #b4b5b9;
}
