.header {
  /* flex: 0 1 5.5rem;
  width: 100%;
  padding-right: 1rem; */

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .header {
    position: absolute;
    top: 0;
    right: 1rem;
    padding: 0;
  }
}

.userinfo {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .userinfo {
    position: absolute;
    top: 5rem;
    left: 1.5rem;
  }
}

.usericon {
  font-size: 2.2rem;
  margin-right: 0.5rem;
}

.userinfo > p {
  font-size: 1.4rem;
}

.others {
  display: flex;
  align-items: center;
}

.logout {
  border: none;
  background-color: #fff;
  margin-right: 0.7rem;
  font-size: 1.2rem;
  font-weight: 100;
  background-color: transparent;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 600px */
@media only screen and (max-width: 37.5em) {
  .logout {
    margin-bottom: 0.8rem;
  }
}

.logout > p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: transparent;
  transition: all 0.3s;
}

/* 600px */
@media only screen and (max-width: 37.5em) {
  .logout > p {
    font-size: 0.4rem;
  }
}

.logout:hover > p {
  color: #101d2c;
}

.logouticon {
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
}

.create {
  border: none;
  background-color: #df4b14;
  border-radius: 3px;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.createicon {
  height: 2rem;
  width: 2rem;
  fill: #fff;
}
