.home {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
}

.container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 5.5rem 1fr;
  position: relative;
}

/* 2000px */
@media only screen and (min-width: 125em) {
  .container {
    max-width: 200rem;
    margin: 0 auto;

    grid-template-rows: 10rem 1fr;
  }
}

/* 600px */
@media only screen and (max-width: 37.5em) {
  .container {
    grid-template-rows: 10rem 1fr;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  .container {
    gap: 2.7rem;
  }
}

.content {
  padding: 1rem;
  padding-right: 0;
  padding-bottom: 0;
  width: 100%;
  height: 100%;

  overflow-y: scroll;
  -ms-overflow-style: none;
}

/* 2000px */
@media only screen and (min-width: 125em) {
  .content {
    padding-left: 3rem;
  }
}

/* 600px */
@media only screen and (max-width: 37.5em) {
  .content {
    padding: 0;
  }
}

.content::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  width: 40%;
  background-color: #fff;
  border-radius: 2.5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  padding: 3.5rem 4.5rem;
  z-index: 10;
}

/* 2000px */
@media only screen and (min-width: 125em) {
  .modal {
    max-width: 90rem;
    padding: 4.5rem 5.5rem;
  }
}

/* 1200px */
@media only screen and (max-width: 75em) {
  .modal {
    width: 50%;
  }
}

/* 800px */
@media only screen and (max-width: 50em) {
  .modal {
    height: 90%;
    width: 70%;
    padding: 3rem 2.6em;
  }
}

.modal-dark {
  background-color: #0c0d14;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 150, 134, 0.425);
  backdrop-filter: blur(3px);
  z-index: 5;
}
