.home {
  width: 95vw;
  display: flex;
}

.main {
  flex: 0 1 80%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  background-color: green;
  border-radius: 1rem;
  margin: 0.5rem;
  margin-right: 0;
}
