.logo {
  font-size: 3.5rem;
  color: #df4b14;
  margin-bottom: 3rem;
}

.title {
  margin-bottom: 5rem;
}

.title > h2 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

.title > p {
  font-size: 1.3rem;
}

.link {
  margin-left: 0.7rem;
  color: #243242;
}

.error {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: #ff2b1d;
}
