.sidebar {
  grid-row: 1 / -1;
  background-color: #fff;
  border-radius: 1.5rem;

  display: flex;
  flex-direction: column;
}

/* 500px */
/* @media only screen and (max-width: 31.25em) {
  .sidebar {
    flex: 0 1 10%;
    min-height: 10%;
    align-items: flex-start;
    background-color: transparent;
  }
} */

.logo {
  padding: 1.5rem 3.5rem 2rem 3.5rem;
  color: #df4b14;
  font-size: 2.2rem;

  font-weight: 700;
}

.nav {
  display: flex;
  flex-direction: column;
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .nav {
    flex-direction: row;
    margin-top: 3rem;
  }
}

.link {
  text-decoration: none;
  padding: 1rem 1.5rem;
  height: 4.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  position: relative;
  color: inherit;
  display: flex;
  align-items: center;
}

.link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background-color: #274c4b;
  transform: scaleY(0);
  transition: all 0.3s;
}

.link:hover {
  color: #274c4b;
  background-color: #adc8c818;
}

.link:hover::after {
  transform: scaleY(1);
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .link:hover::after {
    transform: scaleY(0);
  }
}

.selected {
  color: #274c4b;
  background-color: #adc8c818;
}

.icon {
  margin-right: 1rem;
  font-size: 1.6rem;
}
