.title {
  font-size: 2.8rem;
  margin-bottom: 3rem;
  color: #274c4b;
}

.description {
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.link {
  margin-left: 0.7rem;
  color: #45a3a4;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  color: #101d2c;
}

.label {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.inputbox {
  height: 4rem;
  padding: 0.5rem 1rem;
  border: 0.5px solid #5e5e5d;
  border-radius: 4px;
}

.inputbox:focus {
  outline: none;
}

.btn {
  border: none;
  background-color: #45a3a4;
  padding: 1.5rem;
  color: #fff;
  border-radius: 5px;
  margin-top: 2.8rem;
  cursor: pointer;
}

.error {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: #bd413e;
}
