.title {
  font-size: 2.8rem;
  margin-bottom: 3rem;
  color: #274c4b;
}

/* 2000px */
@media only screen and (min-width: 125em) {
  .title {
    font-size: 4.5rem;
    margin-bottom: 4rem;
  }
}

.description {
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

/* 2000px */
@media only screen and (min-width: 125em) {
  .description {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
}

.link {
  margin-left: 0.7rem;
  color: #243242;
}

.error {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: #ff2b1d;
}

/* 2000px */
@media only screen and (min-width: 125em) {
  .error {
    font-size: 2.7rem;
    margin-bottom: 2rem;
  }
}
