.title {
  font-size: 2.8rem;
  margin-bottom: 3rem;
  color: #274c4b;
}

.description {
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.link {
  margin-left: 0.7rem;
  color: #243242;
}

.error {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: #ff2b1d;
}
