.projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* 600px */
@media only screen and (max-width: 37.5em) {
  .projects {
    display: flex;
    flex-direction: column;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}

.icon {
  animation: spin 0.8s infinite linear;
}

@keyframes spin {
  from {
    transform: none;
  }

  to {
    transform: rotate(360deg);
  }
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}

.message > p {
  font-size: 1.4rem;
}
